.loading-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.header-dropdown {
  list-style: none;
  box-shadow: 1px 1px 5px .5px rgba(161, 161, 161, 0.395);
  width: 10rem;
  padding-left: 0;
  border-radius: 5px;
  position: absolute;
  top: 3.2rem;
  right: 1rem;
  z-index: 99;
  background-color: rgb(247, 247, 247);
}

.note-dropdown {
  list-style: none;
  box-shadow: 1px 1px 5px .5px rgba(161, 161, 161, 0.395);
  width: 10rem;
  padding-left: 0;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  position: absolute;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  
}

.hide {
  display: none;
}

.menu-item {
  padding: 1rem 0 1rem 1rem;
  margin: 0;
}

hr {
  margin: 0;
  color: rgb(161, 161, 161);
}

.logout {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  cursor: pointer;
  color: #0d6efd
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile img:hover {
  cursor: pointer;
}

.note-form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  border: 1px solid rgba(161, 161, 161, 0.395);
  border-radius: 5px;
  padding: 5px;
  margin: 1rem auto;
}

.input-title, .input-text, .add-note {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  width: 100%;
}

.input-title, .input-text {
  font-weight: 200;
  font-size: 1rem;
  padding: .5rem;
  margin-bottom: .5rem;
}

.add-note {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  margin: auto;
}

.note {
  border: 1px solid rgba(161, 161, 161, 0.395);
  border-radius: 10px;
  padding: 10px;
}

.note:hover {
  outline: 2px solid black;
  border: 1px solid transparent;
  cursor: pointer;
  transition: ease-in-out .05s;
  box-shadow: 5px 5px;
}

.note-title {
  font-weight: 300;
}

.note-content, .note{
  overflow: hidden;
}

.home-alert {
  backdrop-filter: blur(10px) ;
  background: linear-gradient(-45deg, #ee7652bc, #e73c7eb4, #23a5d5c3, #23d5abb9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

.delete-alert {
  background-color: rgb(31, 30, 30);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 3px black;
}

.home-alert button {
  background-color: rgb(31, 30, 30);
  color: rgb(106, 106, 229);
  padding: 2px 10px;
  border: none;
}

.cancel-button:hover {
  color: white;
}

.delete-button:hover {
  color: rgb(242, 88, 88);
}

.note .title-and-options {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.note .title-and-options i {
  padding-right: .5rem;
}

.note .title-and-options i:hover {
  color:rgb(102, 102, 225)
}

@media (max-width: 768px) {
  header, .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header, h1 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 426px) {
  .notes {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 18rem;
   }
  .note {
    height: 10rem;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}